
mobile/android/.settings/

mobile/android/.project

mobile/pubspec.lock

webapp/package-lock.json

backend/customerApp/.idea/

backend/customerApp/target/

backend/customerApp/customer_app.iml

backend/managerWebApp/.mvn/

backend/managerWebApp/mvnw

backend/managerWebApp/mvnw.cmd

backend/staffWebApp/staff_webapp.iml
